@use "../utils/variables" as *;

.host-details h2 {
  color: $main-color;
  font-size: 12px;
  max-width: 60px;
  text-wrap: balance;
  text-align: end;

  @media (min-width: 769px) {
    font-size: 18px;
    max-width: 90px;
  }
}

.host-details img {
  border-radius: 50%;
  width: 32px;

  @media (min-width: 769px) {
    width: 64px;
  }
}

.stars {
  text-wrap: nowrap;
}

.fa-star {
  font-size: 13px;
  margin-right: 5px;

  @media (min-width: 769px) {
    font-size: 24px;
    margin-right: 10px;
  }
}

.empty {
  color: #e3e3e3;
}

.filled {
  color: $main-color;
}

.host-details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 14px;

  @media (min-width: 769px) {
    flex-direction: column;
    gap: 21px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.host_info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.housing_content {
  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
}
