@use "../utils/variables" as *;

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  height: 209px;
  gap: 15px;

  @media (min-width: 769px) {
    gap: 28px;
  }

  img {
    width: 122px;
  }

  p {
    font-size: 12px;
    font-weight: $font-weight_medium;
    width: 133px;
    text-align: center;

    @media (min-width: 769px) {
      width: 100%;
      font-size: 24px;
    }
  }
}
