@use "../utils/variables" as *;

.notfound {
  display: grid;
  justify-items: center;
  gap: 113px;
  color: $main-color;
  margin-block: 93px 113px;

  @media (min-width: 769px) {
    gap: 139px;
    margin-block: 119px 139px;
  }
}

.notfound_title {
  font-size: 96px;
  font-weight: 700;

  @media (min-width: 769px) {
    font-size: 288px;
  }
}

.notfound_subtitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-wrap: balance;

  @media (min-width: 769px) {
    font-size: 36px;
  }
}

.notfound_link {
  font-size: 14px;
  color: black;

  @media (min-width: 769px) {
    font-size: 18px;
  }
}
