#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    interpolate-size: allow-keywords;
}

body {
    font-family: "Montserrat";
    min-width: 320px;
}

img {
    display: block;
}

.container {
    margin-inline: 20px;

    @media (min-width: 1240px) {
        margin-inline: 100px;
    }
}