#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  interpolate-size: allow-keywords;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
}

img {
  display: block;
}

main {
  margin-inline: 20px;
  height: 100%;

  @media (min-width: 1240px) {
    margin-inline: 100px;
  }
}
